#Doctorh1{
    margin-top: 30px;
    font-family: Poppins;
    font-size: 300%;
    font-weight: bold;
    color: #3CBEB2;
}
#Doctorp{
    margin-top: 10px;
    font-family: Poppins;
    font-size: 200%;
    font-weight: bold;
    color: #3CBEB2;
}
#Doctorcard{
    margin-left: 200px;
    height: 450px;
}